html 	{
    		position: relative;
  		 	min-height: 100%;
  		 	height: 100%;
  		 	overflow-x: hidden;

		}
body	{
			background: orange;
			margin: 0 0 45%; /* bottom = footer height */
   			padding: 0;
		}

#logo	{
			position: absolute;
			top: 10px;
			left: 5px;
			margin: 10px;
			border: 20 px;
		}


#MenuBar{
			position: absolute;
			list-style-type: none;
			padding:0;
			margin:0;
			top: 125px;
			width: 100%;
			background-color:#b76100;
			overflow: hidden;
			
		}

.MenuItem a{
			display: block;
    		margin: 0px;
    		padding: 19px;
    		text-decoration: none;
    		text-align: center;
    		float: left;
    		color: goldenrod;
    		border-right: 1px solid #bbb;
			
		 }
.MenuItem:last-child{
		float: right;
		border-left: 1px solid #bbb;
}
.MenuItem a:hover{
			
			color: 000000;
			background-color: #ffffff;
		}

#content{
			position: absolute;
			top:185px;
			width:100%;
			left:40 px;
			height: 400 px;
			margin: 400 px;
		}
#foot	{
			    position: absolute;
    			top: 150%;
    			height: 3em;
 				width: 100%;
 			 background-color: #b76100;
		}
#Copyright{
			text-align:center;
		}
/******Index*********/
#Ad			{
				width: 100%
			}
#Description{
			
				column-count: 2;
				column-gap: 25 %;
				column-rule-style: solid;
				column-width: 2px;
				column-fill: balance;
			}
#Descript	{
				margin-left: 15px;
				height:35%;
				
			}
#Models		{
				height: 35%;
				width: 75%;
				
				right: 0 px;
				padding: 2 em;
				margin: 2 em; 
				margin-left: 1em;		
			}
#Slogan		{
				text-align: center;
			}
#Shipping	{
				text-align: center;
			}
/******Products*******/
#Shipping 	{
				
				text-align: center;
				
			}
#FlaskImage	{
				width: 100%;		
			}
#BeerBellyImage	{
					width: 100%;
					height: 100;
					
				}
#WineRackImage	{
					width: 100%;
					height: 100;
				}
#Products	{
				width: 92%;
				text-align: center;
				list-style-type: none;
			}
div.product {
				display:inline-block;
				margin: 2em;
				padding: 0em;
				border: 8px solid #b76100;
				background: white;
 				vertical-align:top;
 				width:20em;
 				height:40em;
			}
.productlayout{
					list-style-type: none;
					text-align: center;
					padding:0;
					margin:0;
					border:0;
					width: 100%;
					height: 100%;
				}
div.product ul li {
					margin: 0em;
					padding: 0em;
					border: 3px solid black;
				}
.Desc			{
					height: 10em;
				}
.OrderButton {
    		background-color: #b76100; 
  		 	border: none;
  		 	border-color:#b76100; 
   			color: black;
   			width: 100%;
    		text-align: center;
    		text-decoration: none;
   			display: inline-block;
    		font-size: 22px;
				}
.ProductImage{
				height: 19em;
		
			}
	
/******Contact*******/
#Map	{
			position: absolute;
			margin-top: 2em;
			width:100%; 
			border: 8px solid #b76100;
		}


#ContactInfo {	
				position: absolute;
				left:  2rem;
				top: 2rem;
				background: white;
				border: 8px solid #b76100;
				list-style-type:none;
				;
				font-size: 2 em;
				text-align: center;
				overflow: hidden;
    			white-space: nowrap;
			}

#SocialMedia{
				list-style-type:none;
				
			}
#SocialMedia li{
					float: left;
					padding: 1rem;
				}

#Instagramlogo{
					width: 10 %;
					height: 10%;
				}
#Facebooklogo{
					width 10%;
					height: 10%;
			}

/*********order*************/
#ordertable{
		background: white;
		width: 90%;
		margin-left: 5%;
		margin-right:5%;
		text-align: center;
		border: 1em solid #b76100; 
	}
.entryfield ul 	{
					list-style-type: none;
					text-align: center;
				}
.entryfield ul 	li {
				
					font-size: 24px;
					Padding-left: 1em;
				}
.name			{
					
					width: 23em;
				}

#OrderTitle{
				font-size: 50px;
				padding: 0;
				text-align: center;
				border:0px;
				margin-bottom: 0;
				margin-top: 4px;
			}
#State		{
				width: 2em;
			}
#Submit		{
			background-color: #b76100; 
  		 	border-color:#b76100; 
   			color: black;
   			width: 75%;
   			margin-bottom: 1em;
    		text-align: center;
    		text-decoration: none;
   			display: inline-block;
    		font-size: 22px;
			}

#productSelect{
					width:50%;
			}

/******






***/	
/***************Cart***************/
#CartTable{
			text-align:center;
			margin-left:6%;
			margin-right:6%;
			border: 1em solid #b76100;
			width: 90%;
			background: white;
			}
.CartProduct{
				list-style-type: none;
				padding-left:2.5%;
				padding-top:0em;
				padding-bottom: 1em;
				margin-bottom: 2%;
				
				
			}
.CartProduct li{
					display: inline-block;
					float: left;
					height: 5em;
					width: 22%;
					line-height: 100%;
					border: 4px solid black;
					margin-bottom: 1em;
					margin-right: 1em;
				}
.CartProductImage{
					height: 5em;
					width: 5em;
				}
				
/*************Login******************/
#login	{
			background-color:white;
			width:50%;
			text-align: center;
			vertical-align: center;
			border: 1em solid #b76100;
		}

@media only screen and (min-width:40em) {
html 	{
    		position: relative;
  		 	min-height: 100%;
  		 	height: 100%;
  		 	overflow-x: hidden;

		}
body	{
			background: orange;
/*			margin: 0 0 78%; */ /* bottom = footer height */
/* The margin at the bottom of 78% pushes everything off the bottom of the page. */
/* Instead of the margin, make the page 100% tall with no margin. */
			position:relative;
			height:100%;
			margin:0px;
   			padding: 0;
		}

#logo	{
			position: absolute;
			top: 10px;
			left: 5px;
			margin: 10px;
			
		}


#MenuBar{
			position: absolute;
			list-style-type: none;
			padding:0;
			margin:0;
			top: 125px;
			width: 100%;
			background-color:#b76100;
			overflow: hidden;
			
		}

.MenuItem a{
			display: block;
    		margin: 0px;
    		padding: 18px;
    		text-decoration: none;
    		text-align: center;
    		float: left;
    		color: goldenrod;
    		border-right: 1px solid #bbb;
			
		 }
.MenuItem a:hover{
			
			color: 000000;
			background-color: #ffffff;
		}

#content{
			position: absolute;
			top:12em;
			left:40 px
			height: 400 px;
			margin: 400 px;
		}
#foot	{
			    position: absolute;
    			left: 0;
				bottom:0px;
  				height: 50px;
 				width: 100%;
 			 background-color: #b76100;
		}
#Copyright{
			text-align:center;
		}	
/******Index*********/
#Ad			{
				width: 100%
			}
#Description{
			
				column-count: 2;
				column-gap: 100px;
				column-rule-style: solid;
				column-width: 2px;
				column-fill: balance;
			}
#Descript	{
				margin-left: 15px;
				height:35%;
				
			}
#Models		{
				height: 35%;
				width: 75%;
				
				right: 0 px;
				padding: 20 px;
				margin: 20px; 
				margin-left: 35px;		
			}
#Slogan		{
				text-align: center;
			}
#Shipping	{
				text-align: center;
			}
/******Products*******/
#Shipping 	{
				
				text-align: center;
				
			}
#FlaskImage	{
				width: 400px;		
			}
#BeerBellyImage	{
					width: 400px;
					height: 400px
					
				}
#WineRackImage	{
					width: 600px;
					height: 400px;
				}
		
			
/******Contact*******/
#Map	{
			position: absolute;
			left: 600px;
			margin-top: 30px;
			width:700 ; 
			height:600 ; 
		
		}

#ContactInfo {	
				position: absolute;
				left: 120px;
				padding:0;
				list-style-type:none;
				font-size: 20px;
				text-align: center;
				overflow: hidden;
    			white-space: nowrap;
			}

#SocialMedia{
				list-style-type:none;
			}
#SocialMedia li{
					float: left;
					padding: 20px;
				}

#Instagramlogo{
					width: 10 %;
					height: 10%;
				}
#Facebooklogo{
					width 10%;
					height: 10%;
			}

}
			
		 
